* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}
.container::after {
    content: '';
    display: table;
    clear: both;
}
.fix::after {
    content: '';
    display: table;
    clear: both;
}

.f-right {
    float: right;
}
.f-left {
    float: left;
}

.col-4 {
    float: left;
    width: calc(100% /3);
}
.col-5 {
    float: left;
    width: calc(100% /12 * 5);
}
.col-6 {
    float: left;
    width: 50%;
}
.col-7 {
    float: left;
    width: calc(100% /12 * 7);
}
.col-8 {
    float: left;
    width: calc(100% / 3 * 2);
}
.col-12 {
    float: left;
    width: 100%
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.text-low {
    text-transform: lowercase;

}
.text-upp {
    text-transform: uppercase;

}
.text-cap {
    text-transform: capitalize;

}
h1 {
    font-weight: normal;
    font-size: $text_size+$link_size;
    padding: $main_space 0;
}
h3 {
    font-weight: normal;

}
h2 {
    font-size: $text_size*2;
    margin: $main_space*4  0 $main_space;
}

h2 + p + p{
    margin: $main_space 0 $main_space*3;
}


p {
    font-size: $text_size;
}

a {
    color: $sec_color;
    display: inline-block;
    font-size: $link_size;
    text-decoration: none;
}

ul {
    list-style-type: none;
}
