#jumbo {
    position: relative;
    line-height: $line_h;
    background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    h2 {
        margin-top: $main_space;
        font-size: $text_size*1.5;
        font-weight: normal;
    }
    h3 {
        padding-bottom: $main_space;
    }
    .col-8 {
        li {
            padding: $main_space/4 0;
            i {
                color: grey;
            }
        }
        color: $sec_color;
        padding: $main_space 0 $main_space 20%;
        .btn-download {
            padding: $main_space/2 $main_space/1.3;
            margin: $main_space 0;
            display: inline-block;
            background-color: $download_btn;
            p {
                font-size: 14px;
            }
            i {
                padding-left: $main_space/1.3;
                font-size: 25px;
            }
            div{
                @include flex(column, center);
            }
            .left-btn {
                padding-right: $main_space/2;
                border-right: 1px solid $sec_color;
            }
            a {
                @include flex(row, flex-start);
            }
        }
    }
    .col-4 {
        .prime-card {
            min-height: 440px;
            color: $sec_color;
            margin: $main_space 0 0;
            padding: $main_space $main_space/1.3 $main_space*5;
            background-color: $jumbo_card_back;
            p {
                color: $down_color;
            }
            .btn{
                font-size: 15px;
                min-height: 42px;
                margin: $main_space 0;
                padding: $main_space/2 $main_space;
                background-color: $cta_icon;
                min-width: 150px;
            }
            .sec-card {
                padding: $main_space/2;
                color: $jumbo_sec_text;
                background-color: $sec_color;
                a {
                    background-color: transparent;
                    color: $cta_icon;
                }
                p {
                    font-size: 14px;
                }
            }
        }

    }
    .author {
        width: 300px;
        font-size: $main_size;
        color: $author;
        position: absolute;
        bottom: $main_space/2;
    }
}
#din-bar.sticky {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 9;
}
#din-bar {
    padding-left: $main_space*2;
    background-color: $mid_bar;
    ul li {
        font-size: $text_size;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        display: inline-block;
        padding: $main_space/1.3 $main_space;
        &.active {
            border-bottom: 3px solid black;
            border-top: 3px solid transparent;
        }
    }
}

#ideal {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: $line_h;
    background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/intro.jpg');
    h2,p {
        color: $sec_color;
    }
    p img {
        vertical-align: middle;
        margin-right: $main_space;
    }
    .play-hover,.play-hide {
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50% , -50%);
    }

}

.play-hide {
    display: none;
}
.title {
    padding: 0 10%;
}

.img-container {
    position: relative;
    width: calc(100% - 60px);
    margin: auto;
    .intro-ui {
        position: absolute;
        max-width: 100%;
        bottom: 0;
        max-height: 570px;
    }
    .outro-ui {
        max-height: 570px;
        border-radius: 20px 20px 0 0;
        max-width: calc(100% - 13px);
        vertical-align: bottom;

    }
    &:hover .play-hide {
        display: block;
    }
    &:hover .play-hover {
        display: none;
    }

}

#tools, #dis-ai {
    background-color: $new_back_color;
}


#dis-ai {
    .img-container {
        margin: $main_space*4 auto;
        @include flex(row, center);
        align-items: center;
    }
    .intro-ui {
        max-width: calc(100% - 100px);
        position: relative;
    }
    button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $arrows;
        border: none;
        color: $sec_color;
        font-size: $text_size;
        line-height: 30px;
    }
    .btn-right {
        margin-left: $main_space
    }
    .btn-left {
        margin-right: $main_space
    }

}


#gogh {
    height: 650px;
    background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/image-bg-02.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
}


#flexible {
    color: $sec_color;
    background-color: $tools_back;
    .flex-img {
        width: 100%
    }
    img {
        max-width: 770px;
        width: 100%;
        padding: $main_space*4 $main_space/2;
    }
    h3 {
        font-size: $text_size*4/3;
        margin-top: $main_space*4;
        margin-bottom: $main_space;
    }
    .paraflex {
        padding: 10% $main_space;;
    }
}

#eye {
    height: 650px;
    background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/image-bg-01.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;

}

#tools {
    .playlist {
        margin-top: $main_space*3;
        padding: 0 $main_space*2 $main_space*4 ;
        @include flex(row, center);
        img {
            max-height: 300px;
        }
        h3 {
            font-size:$text_size*1.2;
            position: absolute;
            bottom: 20px;
            left: 50%;
            color: white;
            transform: translateX(-50%);
        }
    }
    .img-container {
        overflow: hidden;
        position: relative;
        max-width: 20%;
        margin: 0 $main_space/2*1.5;
        img {
            display: block;
            width: 100%;
        }
        &:hover img {
            transform: scale(1.2);
        }
    }
}

#explore {
    padding: $main_space*5 0;
    background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/brushpacks-bg.jpg");
    h3 {
        font-size: $text_size*4/3;
        margin-bottom: $main_space;
    }
    .card-container {
        @include flex(row, center);

    }
    .card {
        margin: $main_space;
        background-color: $sec_color;
        padding: $main_space*3 $main_space*2 $main_space*4;
        width: 400px;
        display: inline-block;
    }
}
