$top_color: #101010;
$main_color: #333;
$sec_color: #FFF;
$title_color : #825D5D;
$section_sec_color: #ececec;
$nav-icons: #878787;
$cta_text: #989898;
$cta_icon: #009cff;
$mid_bar: #E6E6E6;
$download_btn: #666;
$tools_back: #222;
$jumbo_sec_text: #2c2c2c;
$jumbo_card_back: rgba(0, 0, 0, 0.9);
$third_content_color: #4d4d4d;
$contact_color: #999;
$author: #DDDDDD;
$arrows :#e74500;
$text_size: 18px;
$link_size: 12px;
$main_size: 10px;
$main_space: 20px;
$line_h: 1.5;
